#mistakes_popup_panel{
    display: none;
}

#mistakes_popup_panel .popup_backgroung{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    left: 0px;
    z-index: 100;
}

#mistakes_popup_panel .popup_backgroung .popup_content{
    margin:15% auto 0px auto;
    width:600px;
    min-height: 200px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#mistakes_popup_info{
    overflow:hidden;
    position:fixed;
    top:8%;
    left: auto;
    right: auto;
    z-index: 800;
    min-width: 60px;
    min-height: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    border: black solid 1px;
    border-radius:5px;
    display: none;
}

#mistakes_popup_panel .popup_text_container{
    width: 100%;
    padding: 5px;
}

#mistakes_popup_panel .popup_text_container .popup_text_container_title{
    margin-left: 10px;
}

#mistakes_popup_panel .popup_text_container .mistakes_popup_text{
    background-color: white;
    border: black solid 1px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: block;
}

#mistakes_popup_panel .popup_button_panel {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
